spring:
  flyway:
    enabled: false
  datasource:
    url: jdbc:h2:mem:fintracker_test;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop


